<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
</style>

<div class="video-container">
  <video
    #videoPlayer
    id="my-player"
    class="video-js"
    controls
    preload="auto"
    width="800px"
    height="400px"
    poster="../../assets/poster.png"
    data-setup="{}"
  ></video>

  <div *ngIf="!videoLoadError" class="controls-container">
    <p class="label">Audio Tracks</p>
    <select (change)="changeAudioTrack($event)" class="audio-select">
      <option *ngFor="let track of audioTracks" [value]="track">
        {{ track }}
      </option>
    </select>
  </div>
</div>
